.avaDescription {
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: 150px 200px 20% 20% 90px 50px;
    grid-gap: 30px;
    margin-top: -1%;
}

.avaImage {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.allUserAva {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.answerForDescription span {
    color: #b9bbbe;
}

.answerForDescription{
    margin-top: 10px;
}

.forDescription {
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}

.mainName span {
    font-size: 17px;
    color: white
}

.mainStatus {
    font-size: 15px;
    color: #b9bbbe;
}

.miniAvaMain{
    margin-left: 30px;
}
/*profileStatus*/

.selectUser{
    margin-left: -10%;
}

.selectUser input, p {
    user-select: none;
    cursor: pointer;
}

.selectUserParagraph p {
    font-size: 13px;
    transition: all 0.3s ease;
}

.selectUserParagraph {
    width: 60px;
}

.selectUserParagraph p:hover {
    color: white;
}

.mainStatusDescription {
    margin-top: 5px;
}

.selectUserMain{
    word-wrap:break-word;
    max-width: 250px;
}

.inputEditMode {
    width: 30%;
    height: 25%;
    background: #2f3136;
    border-radius: 5px;
    position: fixed;
    margin-top: -5%;
    margin-left: 5%;
}

.inputEditMode input {
    width: 78%;
    height: 30px;
    margin-left: 10%;
    margin-top: 15%;
    background: #202225;
    color: white;
    border: none;
    border-radius: 5px;
}

.inputEditMode button {
    width: 35%;
    height: 25px;
    margin-left: 32.5%;
    margin-top: 5%;
    background: #202225;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    color: white;
}

.inputEditMode button:hover {
    background: #36393f;
}

.inputEditMode img {
    float: right;
}

.img_content img {
    border-radius: 10px;
}

.img_content{
    padding: 1%;
}

/* profile avatar */

.profileAvatarPage {
    margin-left: -25%;
    margin-top: -117%;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.profileAvatarDrop{
    margin-left: -5%;
    position: fixed;
}

.mainProfileAva {
    position: absolute;
    width: 100px;
    margin-top: -6px;
}

.profileAvatarEditMode{
    z-index: 4;
    width: 400px;
    position: fixed;
    height: 150px;
    margin-left: 15%;
    margin-top: -10%;
    padding: 20px;
    border-radius: 10px;
    background: #2f3136;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    list-style: none;
}

.profileAvatarEditMode button{
    width: 35%;
    height: 25px;
    margin-left: 32.5%;
    margin-top: 3%;
    background: #202225;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease;
    color: #b9bbbe;
}

.profileAvatarEditMode button:hover {
    background: #36393f;
    color: white;
}

.profileAvatarEditMode input{
    border: none;
    background: #202225;
}

.exitAvatarEditMode{
    position: fixed;
    margin-top: -1.2%;
    margin-left: 380px;
}

/*profile about me */

.aboutMeBlock{
    width: 150px;
}

/*profile jobs desription*/

.jobsDecriptionBlock{
    max-width: 150px;
}